*{
    margin: 0%;
    padding: 0%;
    
    box-sizing: border-box;
}
body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    
}
header h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 2px solid saddlebrown;

}
header nav>ul{
    
    display: flex;
    gap:10px;
    list-style: none;
    justify-content: right;
    padding : 20px;
    border-bottom: 2px solid saddlebrown;
}
nav a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
     

}
a:hover{
    color: rgb(251, 4, 4);
    background-color: aqua;
}
section{
   
    text-align: center;
    margin: 60px 150px;
    background-color: bisque;
    padding: 20px;
    border-radius: 8px;

}
form> h4{
    font-size: 2em;
    padding: 20px ;
    
}
section  form> input , label, textarea{
    font-size: 1.3em ;
       
}
section textarea{
    font-size: 1.7em;
    text-align: center;
}
section button{
    width: 100px;
    font-size: 1em;
    border: none;
    margin: 10px 20px;
    padding: 10px;
    

}
button{
    font-weight: bold;
}
button:hover{
    background-color: rgb(183, 132, 70);
}