*{
    
    margin : 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: beige;
    display: flex;
    flex-direction: column;

}
header{
    text-align: center;
    border-bottom: 2px solid saddlebrown ;
    
    
}
nav{
   
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}
header > h1{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
    
}
header > nav{
    
    margin: 0;
    padding: 0;
    
}
nav ul{
    
    display: flex;
    list-style: none;
    padding: 5px;
    justify-content: center;
    gap: 20px;
}
ul > li{border: 1px dotted black;
padding: 10px;
}

nav a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    
    
}
a:hover{
    color: tomato;
   
}
section{
    text-align: center;
    max-width: 1000px;
    background-color: blanchedalmond;
    margin: 60px 150px;
}
section > h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
    /*padding-top: 10px;*/
    margin-top: 10px;
}
section p{
    font-style: italic;
}
article{
    border: 1px solid black;
    margin: 10% 10%;
    box-shadow: 10px 10px blue;
    border-radius: 8%;
   
}
article p{
    text-align: justify;
    padding: 0% 10%;
}
article > img{
    background-color: aquamarine;
    margin: 10px;
    width: 50%;
}
footer{
    border-top: 1px solid saddlebrown;
    background-color: rgb(181, 181, 134);
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
   
}